In [81]:
import pandas as pd
import numpy as np

In [82]:
stocks = ["ABR", "AMZN", "GS", "NFLX", "NIO", "NVDA", "TSLA", "UBS"]

In [160]:
common_dates = None

for stock in stocks:

    print(stock)

    df = pd.read_csv(f"./dataforh4/{stock}.csv")
    
    # Drop first two rows
    df.drop(df.head(2).index, inplace=True)
    
    # Keep just the first 8 columns - concerned with Trade data
    df = df.iloc[: , :8]

    # Change the headers
    new_head = df.iloc[0]
    df = df[1:]
    df.columns = new_head

    # Delete rows where Dates is NaN
    df = df[df['Dates'].notna()]

    # Remove the 2 in top left
    df.columns.name = None

    df['Dates'] = pd.to_datetime(df['Dates'])

    # Identify the first entry in the 12th hour for each day
    first_entries_in_12th_hour_index = df[df['Dates'].dt.hour == 12].groupby(df['Dates'].dt.date)['Dates'].idxmin()

    # Update the timestamp of the first entry in the 12th hour to 12:00
    df.loc[first_entries_in_12th_hour_index, 'Dates'] = df.loc[first_entries_in_12th_hour_index, 'Dates'].dt.floor('H')

    df.set_index('Dates', inplace=True)

    mask = (
        (df.index.hour == 9) & (df.index.minute == 30) |
        ((df.index.hour == 12) & (df.index.minute == 00))
    )
    df = df[mask]

    df = df[~df.index.duplicated(keep='first')]

    if common_dates is None:
        common_dates = df.index
    else:
        common_dates = common_dates.intersection(df.index)

    df.to_csv(f"./data_processed/{stock}.csv")

ABR

/var/folders/nw/l6tp73js6gs1p4xxsykgpr8w0000gn/T/ipykernel_40277/2076858548.py:7: DtypeWarning: Columns (1,2,3,4,5,6,7,10,11,12,13,14,15,16,19,20,21,22,23,24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f"./dataforh4/{stock}.csv")

AMZN

/var/folders/nw/l6tp73js6gs1p4xxsykgpr8w0000gn/T/ipykernel_40277/2076858548.py:7: DtypeWarning: Columns (0,1,2,3,4,5,6,7,10,11,12,13,14,15,16,19,20,21,22,23,24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f"./dataforh4/{stock}.csv")

GS

/var/folders/nw/l6tp73js6gs1p4xxsykgpr8w0000gn/T/ipykernel_40277/2076858548.py:7: DtypeWarning: Columns (0,1,2,3,4,5,6,7,10,11,12,13,14,15,16,19,20,21,22,23,24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f"./dataforh4/{stock}.csv")

NFLX

/var/folders/nw/l6tp73js6gs1p4xxsykgpr8w0000gn/T/ipykernel_40277/2076858548.py:7: DtypeWarning: Columns (0,1,2,3,4,5,6,7,10,11,12,13,14,15,16,19,20,21,22,23,24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f"./dataforh4/{stock}.csv")

NIO

/var/folders/nw/l6tp73js6gs1p4xxsykgpr8w0000gn/T/ipykernel_40277/2076858548.py:7: DtypeWarning: Columns (0,1,2,3,4,5,6,7,10,11,12,13,14,15,16,19,20,21,22,23,24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f"./dataforh4/{stock}.csv")

NVDA

/var/folders/nw/l6tp73js6gs1p4xxsykgpr8w0000gn/T/ipykernel_40277/2076858548.py:7: DtypeWarning: Columns (0,1,2,3,4,5,6,7,10,11,12,13,14,15,16,18,19,20,21,22,23,24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f"./dataforh4/{stock}.csv")

TSLA

/var/folders/nw/l6tp73js6gs1p4xxsykgpr8w0000gn/T/ipykernel_40277/2076858548.py:7: DtypeWarning: Columns (0,1,2,3,4,5,6,7,10,11,12,13,14,15,16,19,20,21,22,23,24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f"./dataforh4/{stock}.csv")

UBS

/var/folders/nw/l6tp73js6gs1p4xxsykgpr8w0000gn/T/ipykernel_40277/2076858548.py:7: DtypeWarning: Columns (0,1,2,3,4,5,6,7,10,11,12,13,14,15,16,19,20,21,22,23,24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f"./dataforh4/{stock}.csv")

In [158]:
for stock in stocks:

    df = pd.read_csv(f"./data_processed/{stock}.csv")

    df['Dates'] = pd.to_datetime(df['Dates'])
    df.set_index('Dates', inplace=True)

    print(stock, list(df.index.hour == 9).count(True), list(df.index.hour == 12).count(True))

ABR 136 136
AMZN 132 132
GS 133 133
NFLX 136 136
NIO 135 135
NVDA 134 134
TSLA 132 132
UBS 136 136

In [165]:
print(len(list(common_dates[::2])))
# print(common_dates[::2].date)

111

In [166]:
returns_dict = {'Dates': (common_dates)[::2].date}

In [89]:
common_dates[::2]

DatetimeIndex(['2021-02-01 09:30:00', '2021-02-02 09:30:00',
               '2021-02-03 09:30:00', '2021-02-04 09:30:00',
               '2021-02-05 09:30:00', '2021-02-05 12:00:00',
               '2021-02-08 09:30:00', '2021-02-08 12:00:00',
               '2021-02-09 09:30:00', '2021-02-09 12:00:00',
               ...
               '2021-07-07 09:30:00', '2021-07-07 12:00:00',
               '2021-07-08 09:30:00', '2021-07-08 12:00:00',
               '2021-07-09 09:30:00', '2021-07-09 12:00:00',
               '2021-07-12 09:30:00', '2021-07-12 12:00:00',
               '2021-07-13 09:30:00', '2021-07-13 12:00:00'],
              dtype='datetime64[ns]', name='Dates', length=204, freq=None)

In [167]:
for stock in stocks:

    print(stock)

    df = pd.read_csv(f"./data_processed/{stock}.csv")

    df['Dates'] = pd.to_datetime(df['Dates'])
    
    df = df[df['Dates'].isin(common_dates)]

    returns_stock = (df['Close'][1::2].values - df['Close'][::2].values) / df['Close'][::2].values

    returns_dict[stock] = returns_stock

    print(len(returns_stock))

ABR
111
AMZN
111
GS
111
NFLX
111
NIO
111
NVDA
111
TSLA
111
UBS
111

In [168]:
returns = pd.DataFrame(returns_dict)
returns

,Dates,ABR,AMZN,GS,NFLX,NIO,NVDA,TSLA,UBS
0,2021-02-01,-0.011845,0.015982,0.007047,0.008632,-0.047245,0.002927,0.016274,0.006194
1,2021-02-02,0.014195,-0.000326,0.017026,0.025070,-0.016053,0.002537,0.039364,0.006793
2,2021-02-03,0.001273,-0.006972,0.003241,-0.011761,0.043077,0.000468,-0.009874,0.002358
3,2021-02-04,0.034797,-0.001582,0.014105,-0.001935,-0.021403,-0.008533,-0.013258,0.005720
4,2021-02-05,-0.002571,0.004461,-0.005064,-0.003134,-0.020202,-0.005866,0.015920,-0.004330
...,...,...,...,...,...,...,...,...,...
106,2021-07-07,-0.000852,-0.004655,0.001377,-0.010433,-0.062784,-0.012048,-0.023799,-0.000901
107,2021-07-08,0.025225,0.004955,0.003137,0.000978,0.030331,0.010348,0.027443,0.002033
108,2021-07-09,0.020774,0.002678,0.011939,0.008598,-0.033952,-0.000439,-0.006081,0.006040
109,2021-07-12,0.002475,-0.011032,0.034291,-0.004737,-0.013590,0.005378,0.024046,0.015304
110,2021-07-13,-0.005221,0.011858,-0.017228,0.012682,-0.009715,-0.001334,-0.009857,-0.004626

In [169]:
returns.to_csv("./Returns.csv", index=False)